@page
@model Authserver.Pages.Account.AccessDeniedModel

@{
    ViewData["Title"] = "Access denied";
}

<h3>You do not have access to the requested resource.</h3>
<H4><button class="btn btn-default"><a asp-page="/Index">Click here to get out of here</a></button></H4>