@page "{id?}"
@model Authserver.Pages.Admin.DeleteUserModel
@{
}


<div class="card w-50 mx-auto my-sm-5">
    <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete?</h5>
        <form asp-page-handler="Delete" method="post">
            <div class="mx-auto">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">
                            @Html.DisplayFor(model => model.CurrentUser.UserName)
                        </label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">
                            @Html.DisplayFor(model => model.CurrentUser.Id)
                        </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7">
                            <button type="submit" class="btn btn-primary mr-sm-0" name="delete" value="delete">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>