@page
@model IndexModel
@{
    ViewData["Title"] = "Auth server";
}

<div class="container">
  <div class="jumbotron">
    <h1>Auth server</h1> 
    <p>A server to manage users, clients and resources</p>
    <div class="center">
        <button class="btn btn-large"><a asp-page="/Account/Login"></a>Click here to login</button>
    </div>
  </div>
</div>